@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap');

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
}

.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}